*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
/* shared style */
.logo h3{
    font-size: 45px;
    font-weight: bold;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
}

/* individual style */
.font-color-orange{
    color: #FD6E0A;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right; /* backgrous image ta jayga mto boshar jonne*/

}

nav{
    width: 1140px;
    max-width: 1140px;
    margin: 0px auto;  /* eta diye jinish ta majhe niye ashe */
    display: flex;
    justify-content: space-between; /*  eta diye content dui side a diye dey  */
    align-items: center;
}
nav .menu{
    display: flex;
    gap:51px;
    list-style-type: none;
    align-items: center;

}
 nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
 }

 #banner{
    /* border: 1px solid red; */
   
    margin:46px 39px 0px 230px;
    display: flex;
    justify-content:space-between;
    align-items: center;
 }

 #banner .banner-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
 }
 #banner .banner-content h1{
    color:#181818;
    font-size: 85px;
    font-weight: bolder;
    margin-bottom: 20px;
}

 #banner .banner-content p{
    max-width: 586px;
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;
    
 }

 #banner .banner-image img{
    max-width: 585px;
     vertical-align: middle; /*eta krle niche theke gap ta chole jay */
 }

 #about{
    padding-top: 130px;
   
 }

 #about .about-container{
    width: 1140px;
    max-width: 1140px;
    margin:0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
 }

  #about .about-container .section-heading h2{
       color:#181818;
       font-size: 35px;
       font-weight: bold;
       margin-bottom: 30px;
  }

  #about .about-container .section-heading p{
    font-size: 18px;
    color:#ABABAB;
    line-height: 30px;
    margin-bottom: 30px;
   

  }

  #about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about-info .info-card p{
    font-size: 20px;
    color:#757575;
  }

   .about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color:#474747;
   }

   #skills{
    padding-top: 130px;
   }

   #skills .skill-container{
    width: 1140px;
    max-width: 1140px;
    margin:0 auto;
   }

   #skills .skill-container .section-heading p{
    margin-top: 30px;
   }
    #skills .skill-container .skill-box{
        display: flex;
        gap: 24px;

    }

    .skill-box .skill-card{
        width: 267px;
        max-width: 267px;
        padding:32px;
         box-shadow: 0px 6px 50px #00000042;
        
    }

    .skill-card img{
        width: 44px;
        margin-bottom: 30px;
    }

    .skill-card h4{
        color:#181818;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
       
    }

.skill-card p{
    color: #757575;
    font-size: 16px;
   line-height: 28px;
}

#resume{
     padding-top: 130px;
}

#resume .resume-container{
    width: 1140px;
    max-width: 1140px;
    margin: 0 auto;

}

#resume .my-qualification{
    display: flex;
    gap:24px;
    margin-top: 130px;
}

#resume .my-qualification .education h3,.experience h3{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#resume .my-qualification .info-card h4{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}
#resume .my-qualification .info-card h5{
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    
}
#resume .my-qualification .info-card p{
    color:#757575;
    font-size: 16px;
    line-height: 28px;
}